{% extends 'index.html' %}

{% block show_user_title %}
    <title>Library Management System | Users</title>
{% endblock show_user_title %}

{% block home_nav %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/admin_home/{{uid}}">Home</a>
        <a class="nav-link" href="/showbook_admin/{{uid}}">Books Available</a>
        <a class="nav-link" href="/show_issued_book/{{uid}}">Issued Books</a>
        <a class="nav-link" href="/show_admins/{{uid}}">Admins</a>
        <a class="nav-link" href="/show_users/{{uid}}">Users</a>
        <a class="nav-link" href="/">Log Out</a>
      </div>
    </div>
  </div>
</nav>
{% endblock home_nav %}

{% block show_user_body %}
    <div class="tables">
        {% if users|length == 0 %}
        <div class="alert_alert-dark" role="alert">
            <p>No Users Found !!</p>
        </div>
        {% else %}
        <table class="table">
            <tbody> 
                <thead>
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">User ID</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Contact Info</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                {% for i in range(users|length) %}
                <tr>
                    <th scope="row">{{i+1}}</th>
                    <td>{{users[i][0]}}</td>
                    <td>{{users[i][1]}}</td>
                    <td>{{users[i][2]}}</td>
                    <td>
                        <div class="issue_button">
                            <a href="/remove_user/{{uid}}/{{users[i][0]}}">Remove User</a>
                        </div>
                    </td>
                </tr> 
                {% endfor %}         
                {% endif %}
            </tbody>
        </table>
        {% if users|length != 0 %}
            <div class="remove_users_button">
                <a href= "/remove_all_users/{{uid}}" role="button">Remove All Users</a>
            </div>  
        {% endif %}
    </div>
{% endblock show_user_body %}