{% extends 'index.html' %}
{% block login_title %}
    <title>Login Page</title>
{% endblock login_title %}

{% block login_body %}
<div class="main" style="text-align: center; margin-top: 10px;">
    <h2>LOGIN PAGE</h2>
    <p>Made With FLASK</p>
</div>
<div class="form">
    <form action="/login" method="post">
        <div class="uid">
            <span>Username </span>
            <input type="text" name="user_id" id="uid" required="True">
        </div>
        <div class="pass" style="margin: 20px;">
            <span>Password</span>
            <input type="password" name="password" id="pass" required = "True" > 
            <p><input type="checkbox" onclick="myfunction()">Show Password </p>
        </div>
        <button type="submit">Login</button>
    </form>
    <p>New User ? <a href="/registration">Sign Up</a></p>

    <div>
        {{data}}
    </div>
    
</div>
{% endblock login_body %}