{% extends 'index.html' %}
{% block regis_title %}
    <title>Registration Page</title>
{% endblock regis_title %}

{% block regis_body %}
    <div class="main" style="text-align: center; margin-top: 10px;">
    <h2>REGISTRATION PAGE</h2>
    <p>Made With FLASK</p>
</div>
<div class="form">
    <form action="/signup" method="post">
        <div class="uid">
            <span>Username </span>
            <input type="text" name="userid" id="uid" required="True">
        </div>
        <div class="pass" style="margin: 20px;">
            <span>Password</span>
            <input type="password" name="password" id="pass" required = "True" > 
            <p><input type="checkbox" onclick="myfunction()">Show Password </p>
        </div>
        <div style="margin: 20px;">
            <span>Email Id</span>
            <input type="text" name="email" id="eid">
        </div>
        <button type="submit">Sign Up</button>
    </form>
    <p>Already a User ? <a href="/">LogIn</a></p>
    <p> {{data}}</p>
</div>
{% endblock regis_body %}